body{
    background-color:lavender;
}
header a:hover{
    background: teal;
    color:white;
}
header{
    background-color:black;
    background: linear-gradient(to right, darkgrey, black);
    color: red;
    display: flex;
    justify-content: space-around;
    position:fixed;
    width: 1500px;
    height: 50px;
    padding-top: 10px;
    top: 0%;
    left:0%
}

h1{
   font-size: xx-large;
   text-align: center;
}
.sec1{
    position: absolute;
    top:15%;
    box-sizing: border-box;
    width: auto; height: auto;
    padding: 50px 400px;
    text-align: center;
    font-size: large;
}
footer{
    position:Absolute;
    left: 25%;
    top:130%;
    box-sizing:border-box;
    background-color: rgb(177, 242, 169);
    margin: 64px;
    padding:32px;
    width: 600px;
    border: 8px solid black;
    
}
a:visited{
    color:blueviolet
}