header a:hover{
    background: teal;
    color:white;
}
header{
    background-color:deeppink;
    height: 36px;
    display: flex;
    justify-content: space-around;
    position:fixed;
    width: 1500px;
    height: 50px;
    top: 0%;
    left:0%
}
.heading1{
    position: absolute;
    top:10%;
}
.sec1{
    position: absolute;
    top:25%
}
footer{
    position:Absolute;
    left: 25%;
    top:100%;
    box-sizing:border-box;
    background-color: aqua;
    margin: 64px;
    padding:32px;
    width: 600px;
    border: 8px ridge brown;
    
}