header a:hover{
    background: teal;
    color:white;
}
header{
    background-color:black;
    background: linear-gradient(to right, darkgrey, black);
    display: flex;
    justify-content: space-around;
    position:fixed;
    width: 1500px;
    height: 50px;
    padding-top: 10px;
    top: 0%;
    left:0%
}
.heading1{
    position: absolute;
    top: 10%;
}
.sec1{
    position: absolute;
    top: 20%;
}
.sec2{
    position: absolute;
    top: 100%;
}
.sec3{
    position: absolute;
    top: 140%;
}
.p1{
    position: absolute;
    top: 180%;
}