@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Funnel+Display:wght@300..800&family=Kelly+Slab&family=Nova+Flat&display=swap');
header a:hover{
    background: teal;
}
body{
    background-color: rgb(213, 213, 213);
}
header{
    background-color:black;
    background: linear-gradient(to right, darkgrey, black);
    font-family: Funnel Display;
    font-size:large;
    color: red;
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    width: 1500px;
    height: 50px;
    padding-top: 10px;
    top: 0%;
    left:0%;
    z-index: 2;
}
.sec1{
    box-sizing: border-box;
    width: 1000px;
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: justify;
}
.div1{
    width: 500px;
}
.div2{
    position: absolute;
    box-sizing: border-box;
    top: 10%;
    left:60%;
    width: 600px;
    padding: 30px;
    padding-bottom: 50px;
    border:outset;
    background-color: aqua;
    text-align: justify;
}
.sec2{
    position: absolute;
    top: 100%;
}
.p1{
    box-sizing: border-box;
    width:99% ;
    border: solid;
    position: absolute;
    top: 240%;
    font-weight:bolder;
}
.div3{
    background-color: aqua;
    box-sizing: border-box;
    width: 350px;
    padding: 70px;
    position:sticky;
    left: 60px;
    z-index: 0;
}
.div4{
    background-color: aquamarine;
    box-sizing: border-box;
    width: 350px;
    padding: 65px;
    position: absolute;
    left:550px;
    top:10%;
    z-index: 0;
}
.div5{
    background-color:lightblue;
    box-sizing: border-box;
    width: 350px;
    padding: 65px;
    position: absolute;
    left:1050px;
    top:10%;
    z-index: 0;
}
.div6{
    background-color:beige;
    box-sizing: border-box;
    width: 350px;
    padding: 65px;
    position: absolute;
    left:300px;
    top:80%;
    z-index:0;
}
.div7{
    background-color:burlywood;
    box-sizing: border-box;
    width: 350px;
    padding: 65px;
    position: absolute;
    left:850px;
    top:80%;
    z-index:0;
}
@keyframes sec2anime {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}