
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

header{
    background-color:black;
    background: linear-gradient(to right, darkgrey, black);
    display: flex;
    justify-content: space-around;
    position:fixed;
    width: 1500px;
    height: 50px;
    padding-top: 10px;
    top: 0%;
    left:0%
}
.heading1{
    font-size: xxx-large;
    position:absolute;
    top:5%;
    font-family: Funnel Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec1{
    background-color: aqua;
    position: absolute;
    top:20%;
    font-size: large;
    text-align: justify;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 20px 800px 50px 50px;
}
.sec2{
    background-color: aquamarine;
    position: absolute;
    top:80%;
    font-size:large;
    text-align: justify;
    box-sizing: border-box;
    width: auto; height: auto;
    padding: 50px 20px 30px 700px;

}
.sec3{
    background-color: aqua;
    position: absolute;
    top:160%;
    font-size: large;
    text-align: justify;
    box-sizing: border-box;
    width: 1468px;
    padding:160px 100px;
}
.s4{
    position: absolute;
    top:330%;
    padding-left: 250px;
    text-align: center;
}
h1{
    text-transform: capitalize;
}

a:visited{
    color:blueviolet
}
a {
    position: relative;
    overflow: hidden; /* This hides the pseudo-element until we want to show it */
}

a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.4); /* A light overlay */
    transform: scaleX(0); /* Hide it by default */
    transform-origin: left;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform: skewX(10deg);
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1em;
    }
    header {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 1024px) {
    h1{
        font-size: large;
    }
}