@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Funnel+Display:wght@300..800&family=Kelly+Slab&family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
*{
    box-sizing: border-box;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    background-color:black;
    background: linear-gradient(to right, darkgrey, black);
    font-family: Funnel Display;
    font-size:small;
    position:relative;
    height: 120px;
    border: solid;
}
.heading1{
    color: white;
    opacity: 60%;
    font-size: xx-large;
    font-family: Funnel Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    text-align: right;
}
.sec1{
    position: relative;
    top: 40px;
    text-align: center  ;
    box-sizing: border-box;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    border: solid;
}
.sec1 div{
    width: 800px;
}
.sec2{
    position: relative;
    top:80px;
    border: solid;
}
.sec2 div{
    width: 600px;
    border: solid;
}
.sec3{
    position: relative;
    top: 150px;
    border: solid;
}
.sec3 div{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}
.sec3 a{
    color: white
}
.s4{
    position: relative;
    top: 250px;
    text-align: center;
    border: solid;
}
.s4 div{
    width: 600px;
    border: solid;
}
h1{
    text-transform: capitalize;
}

a {
    position: relative;
    overflow: hidden;
}

a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.4);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
a:hover::after {
    transform: scaleX(1);
}
@media (max-width: 600px) {
    header{
        max-width: 500px;
    }
    h1 {
        font-size: 4em;
    }
    header {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 1024px) {
    h1{
        font-size: smaller;
    }
}
